Source: ros-hydro-filters
Section: misc
Priority: extra
Maintainer: Tully Foote <tfoote@willowgarage.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-pluginlib, ros-hydro-rosconsole, ros-hydro-roscpp, ros-hydro-roslib, ros-hydro-rostest
Homepage: http://ros.org/wiki/filters
Standards-Version: 3.9.2

Package: ros-hydro-filters
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-pluginlib, ros-hydro-rosconsole, ros-hydro-roscpp, ros-hydro-roslib
Description: This library provides a standardized interface for processing data as a sequence of filters. This package contains a base class upon which to build specific implementations as well as an interface which dynamically loads filters based on runtime parameters.
